<style>
  .btn:active, .btn:focus, .btn:active:focus, .btn.active:focus {
    border-color: transparent;
    outline: none;
  }
  </style>

  <h4>
  <a (click)="paginaInicial()">
      Home
  </a>
  </h4>

  <h1>Raças</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead  class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>Classificação</th>
          <th>Altura Média</th>
          <th>Cores da pele</th>
          <th>Cores do cabelo </th>
          <th>Cores dos olhos</th>
          <th>Língua</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let raca of racas">
          <td>{{raca.name}} </td>
          <td>{{raca.classification}}</td>
          <td>{{raca.average_height}}</td>
          <td>{{raca.skin_colors}}</td>
          <td>{{raca.hair_colors}}</td>
          <td>{{raca.eye_colors}}</td>
          <td>{{raca.language}}</td>
        </tr>
    </tbody>
  </table>

  <input type="submit" value="Anterior"  type="submit" class="btn btn-success" (click)="anterior()" [disabled]="!isPaginaAnterior">
  {{page}}
  <input type="submit" value="Prómimo" type="submit" class="btn btn-success" (click)="proximo()" [disabled]="!isProximaPagina">

